#navbarHolder {
  display: flex;

  justify-content: space-around;
  color: green;
}
#linkDiv {
  display: flex;
  flex-direction: row;
}
ul {
  justify-content: end;
  display: flex;
  justify-content: space-between;
}
li {
  padding: 20px;
  display: inline;
  font-family: Helvetica;
  font-size: 20px;
  color: green;
}
.link {
  color: green;
}
#cartIcon {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}
#cartDiv {
  display: flex;
  flex-direction: row;
}
#cart {
  position: absolute;
}
